body {
  height: 100vh;
}
.container {
  max-width: 100vh;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  border: 0.2rem solid #fff;
  padding: 6rem;
  background: linear-gradient(
    87.4deg,
    rgb(255, 241, 165) 1.9%,
    rgb(200, 125, 76) 49.7%,
    rgb(83, 54, 54) 100.5%
  );
  border-radius: 6vh;
  box-shadow: rgb(0, 0, 0, 0.35) 0vh 5vh 15vh;
}
.addtobutton {
  margin-bottom: 1rem;
}
.btn {
  background: #83533f;
  border: 0.2rem solid #83533f;
}
.btn:hover {
  cursor: grab;
  transition: all 1ms ease-in-out;
  background-color: #731451;
  border: none;
  border: 0.1rem solid #731451;
}
